@font-face {
    font-family: 'bb-if';
    src:    url('fonts/bb-if.eot?iyu7wn');
    src:    url('fonts/bb-if.eot?iyu7wn#iefix') format('embedded-opentype'),
        url('fonts/bb-if.ttf?iyu7wn') format('truetype'),
        url('fonts/bb-if.woff?iyu7wn') format('woff'),
        url('fonts/bb-if.svg?iyu7wn#bb-if') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'bb-if' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.if-bin:before {
    content: "\e901";
}
.if-x-circle:before {
    content: "\2612";
}
.if-undo:before {
    content: "\27f2";
}
.if-circle:before {
    content: "\2022";
}
.if-menu:before {
    content: "\2630";
}
.if-menu-d:before {
    content: "\e900";
}
.if-menu-u:before {
    content: "\e620";
}
.if-account:before {
    content: "\e601";
}
.if-bag:before {
    content: "\e602";
}
.if-editorial:before {
    content: "\e603";
}
.if-large-b:before {
    content: "\e604";
}
.if-tag:before {
    content: "\e605";
}
.if-home:before {
    content: "\e60f";
}
.if-register:before {
    content: "\e60e";
}
.if-search:before {
    content: "\e608";
}
.if-zoom:before {
    content: "\e621";
}
.if-add:before {
    content: "\e622";
}
.if-arrow-d:before {
    content: "\e600";
}
.if-arrow-l:before {
    content: "\e607";
}
.if-arrow-r:before {
    content: "\e606";
}
.if-arrow-u:before {
    content: "\e614";
}
.if-accordion-r:before {
    content: "\e611";
}
.if-accordion-l:before {
    content: "\e612";
}
.if-close-large:before {
    content: "\e610";
}
.if-close-small:before {
    content: "\e609";
}
.if-hazmat:before {
    content: "\e60a";
}
.if-heart:before {
    content: "\e60b";
}
.if-review-star:before {
    content: "\e60c";
}
.if-checkmark:before {
    content: "\e60d";
}
.if-geotarget:before {
    content: "\e613";
}
.if-social-fb:before {
    content: "\e615";
}
.if-social-tw:before {
    content: "\e616";
}
.if-social-gp:before {
    content: "\e617";
}
.if-social-yt:before {
    content: "\e618";
}
.if-social-pt:before {
    content: "\e619";
}
.if-social-in:before {
    content: "\e61a";
}
.if-sale:before {
    content: "\e61b";
}
.if-arrow-bold-r:before {
    content: "\e61d";
}
.if-sun:before {
    content: "\e61c";
}
.if-wedding:before {
    content: "\e61e";
}

