$icomoon-font-path: "fonts" !default;

$if-x-circle: "\2612";
$if-undo: "\27f2";
$if-circle: "\2022";
$if-menu: "\2630";
$if-menu-d: "\e900";
$if-menu-u: "\e620";
$if-account: "\e601";
$if-bag: "\e602";
$if-editorial: "\e603";
$if-large-b: "\e604";
$if-tag: "\e605";
$if-home: "\e60f";
$if-register: "\e60e";
$if-search: "\e608";
$if-zoom: "\e621";
$if-add: "\e622";
$if-arrow-d: "\e600";
$if-arrow-l: "\e607";
$if-arrow-r: "\e606";
$if-arrow-u: "\e614";
$if-accordion-r: "\e611";
$if-accordion-l: "\e612";
$if-close-large: "\e610";
$if-close-small: "\e609";
$if-hazmat: "\e60a";
$if-heart: "\e60b";
$if-review-star: "\e60c";
$if-checkmark: "\e60d";
$if-geotarget: "\e613";
$if-social-fb: "\e615";
$if-social-tw: "\e616";
$if-social-gp: "\e617";
$if-social-yt: "\e618";
$if-social-pt: "\e619";
$if-social-in: "\e61a";
$if-sale: "\e61b";
$if-arrow-bold-r: "\e61d";
$if-sun: "\e61c";
$if-wedding: "\e61e";

