@font-face {
	font-family: 'bb-if';
	src:url('fonts/bb-if.eot?3bu19x');
	src:url('fonts/bb-if.eot?#iefix3bu19x') format('embedded-opentype'),
		url('fonts/bb-if.woff?3bu19x') format('woff'),
		url('fonts/bb-if.ttf?3bu19x') format('truetype'),
		url('fonts/bb-if.svg?3bu19x#bb-if') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'bb-if';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.if-menu:before {
	content: "\2261";
}

.if-account:before {
	content: "\e601";
}

.if-bag:before {
	content: "\e602";
}

.if-mybeauty:before {
	content: "\e606";
}

.if-large-b:before {
	content: "\e603";
}

.if-brands:before {
	content: "\e604";
}

.if-home:before {
	content: "\e605";
}

.if-register:before {
	content: "\e607";
}

.if-search:before {
	content: "\e608";
}

.if-arrow-d:before {
	content: "\25be";
}

.if-arrow-l:before {
	content: "\25c2";
}

.if-arrow-r:before {
	content: "\25b8";
}

.if-arrow-u:before {
	content: "\25b4";
}

.if-close-large:before {
	content: "\2715";
}

.if-close-small:before {
	content: "\78";
}

.if-hazmat:before {
	content: "\e60f";
}

.if-wishlist:before {
	content: "\2665";
}

.if-icons_geotarget:before {
	content: "\e600";
}

.if-icons_review-star:before {
	content: "\2605";
}

.if-icons_checkmark:before {
	content: "\2713";
}

.if-icons_social-fb:before {
	content: "\e612";
}

.if-icons_social-yt:before {
	content: "\e613";
}

.if-icons_social-tw:before {
	content: "\e614";
}

.if-icons_social-pt:before {
	content: "\e615";
}

.if-icons_social-in:before {
	content: "\e616";
}

.if-icons_social-gp:before {
	content: "\e617";
}

