@font-face {
	font-family: 'bb-if';
	src:url('fonts/bb-if.eot?-pp0mzi');
	src:url('fonts/bb-if.eot?#iefix-pp0mzi') format('embedded-opentype'),
		url('fonts/bb-if.woff?-pp0mzi') format('woff'),
		url('fonts/bb-if.ttf?-pp0mzi') format('truetype'),
		url('fonts/bb-if.svg?-pp0mzi#bb-if') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'bb-if';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.if-menu:before {
	content: "\2261";
}

.if-account:before {
	content: "\e601";
}

.if-bag:before {
	content: "\2751";
}

.if-mybeauty:before {
	content: "\2727";
}

.if-large-b:before {
	content: "\42";
}

.if-brands:before {
	content: "\274f";
}

.if-home:before {
	content: "\2302";
}

.if-register:before {
	content: "\270e";
}

.if-search:before {
	content: "\e608";
}

.if-arrow-d:before {
	content: "\2193";
}

.if-arrow-l:before {
	content: "\2190";
}

.if-arrow-r:before {
	content: "\2192";
}

.if-arrow-u:before {
	content: "\2191";
}

.if-close-large:before {
	content: "\2715";
}

.if-close-small:before {
	content: "\2df";
}

.if-hazmat:before {
	content: "\2708";
}

.if-wishlist:before {
	content: "\2661";
}

.if-review-star:before {
	content: "\2605";
}

.if-checkmark:before {
	content: "\2713";
}

.if-accordion-r:before {
	content: "\276f";
}

.if-accordion-l:before {
	content: "\276e";
}

.if-geotarget:before {
	content: "\a4";
}

.if-social-fb:before {
	content: "\e612";
}

.if-social-tw:before {
	content: "\e614";
}

.if-social-gp:before {
	content: "\e617";
}

.if-social-yt:before {
	content: "\e613";
}

.if-social-pt:before {
	content: "\e615";
}

.if-social-in:before {
	content: "\e616";
}

.if-sale:before {
	content: "\a3";
}

